//REQUIRES normalise.scss (or normalise.css renamed as .scss)
@import 'normalize.scss';

/* ==========================================================================
   Extended 'resets' for the elements normalize.css doesn't include
   ========================================================================== */


/**
 * Remove styling from lists
 */

ul,
ol {
	list-style-type: none;
	margin:0;
	padding:0;
}

/**
 * Remove underline from links
 */

a {
	text-decoration: none;
}

/**
 * Remove bold from headings
 */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}